body {
  font-family: Helvetica;
  font-size: 20px margin: 0;
}

h1 {
  font-size: 4em;
  padding: 0px 0px 0px 450px;
}

h2 {
  font-size: 1em;
  margin: 1rem;
}

h3 {
  font-size: 3em;
  margin: 1rem;
}

section>section:nth-child(2n) {
  background-color: rgb(180, 227, 251)
}

section>section {
  padding: 2em;
}

/*
  section > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  */
section>ul>li {
  margin: 1em;
  padding-left: 200px;
  justify-content: center;
}

.page-header {
  display: flex;
  justify-content: space-between;
}

.header-list {
  display: flex;
  list-style: none;
}

.header-list a {
  display: block;
  padding: 1em;
  justify-content: center;
}

.header-list a:hover {
  background-color: pink;
}
